<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a> |
      <a href="/users">Users</a> |
      <a href="/blogs">Blogs</a>
    </nav>
    <h1>Flask</h1>
    <img src="{{ url_for('static', filename='images/1.jpg') }}" alt="" />

    <ul>
      {% for item in items %}
        <li>{{ item }}</li>
      {% endfor %}
    </ul>

    <footer>
      <p>&copy; 2025 My Blogs</p>
    </footer>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  </body>
</html>
